body
{background-color: crimson;}
.padre
{background-color: darkblue;}
.titulo,.contenido,.pie
{background-color: rgb(255, 255, 0);
margin: 5px;
padding: 5px;}
.foto
{margin: 5px;
width: 100%;
height: 100%;}

.texto
{background-color: rgb(255, 255, 255);
margin: 5px;}
.contenido
{display: flex;}